<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.jhb0430.spring.test.ajax.booking.BookingRepository">
 
 <select id="selectBooking" parameterType="com.jhb0430.spring.test.ajax.booking.Booking">
 	SELECT
 		`id`
 		,`name`
 		,`headcount`
	 	,`day`
	 	,`date`
	 	,`phoneNumber`
	 	,`state`
	 FROM
	 	`booking`	
 	ORDER BY `date`;
 
 </select>
 
 <delete id="deleteBooking" parameterType="int">
 DELETE FROM 
			`booking`
		WHERE 
			`id` = #{id};
	
 
 
 
 </delete>
 
 
 
 <insert id="insertBooking" parameterType="map">
 
	INSERT INTO
			`booking`
		(
	 		`name`
		 	,`date`
		 	,`day`
	 		,`headcount`
		 	,`phoneNumber`
		)
	VALUE
		(
		#{name}
		,#{date}
		,#{day}
		,#{headcount}
		,#{phoneNumber}
		);	 
 
 </insert>
 
 <!-- 
	2. 예약 조회 기능
통나무펜션 페이지를 활용해서 예약 조회 기능을 만드세요.
이름과 전화번호를 입력 받고, 이를 통해서 예약 내역을 조회 하세요.
조회가 될 경우 아래와 같이 얼럿창을 띄워서 예약 내역을 출력하세요.
조회가 안될 경우 조회 결과가 없습니다를 얼럿창으로 띄우세요.
예약 조회
 
 <select id="sameBooking" parameterType="string" resultType="int">
 	SELECT
 			count(*)
 		FROM
 			`booking`
 		WHERE
 			`name` = #{name}
 		AND	
 			`phoneNumber` = #{phoneNumber};
 	
 
 </select>
  -->
 <select id="sameBooking" 
 parameterType="map"
resultType="com.jhb0430.spring.test.ajax.booking.Booking"
 >
 	SELECT
 		`name`
 		,`headcount`
	 	,`day`
	 	,`date`
	 	,`phoneNumber`
	 	,`state`
 		FROM
 			`booking`
 		WHERE
 			`name` = #{name}
 		AND	
 			`phoneNumber` = #{phoneNumber};
 	
 
 </select>
 
 
 
 
 </mapper>