<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.jhb0430.spring.test.thymeleaf.store.ReviewRepository">
 	
 	<select id="selectReview" parameterType="com.jhb0430.spring.test.thymeleaf.store.Review">
 	
 		SELECT
 			`StoreId`
 			,`menu`
 			,`userName`
 			,`point`
 			,`review`
 			,`createdAt`
 		FROM
 			`new_review`
 		ORDER BY 
 			`createdAt`;		
 	
 	
 	</select>
 	
 	<!-- 
 	1. join까지는 활용할 필요는 없고요. 특정 가계의 정보를 조회 하는 페이지이기 떄문에
특정 가게의 행만 조회하는 조건을 만들어 낼 수 있다면 그것으로 충분해요. 
특정 가게의 리뷰만 조회하는 쿼리를 한번 작성해보세요. 
순수하게 리뷰테이블만으로 조회 가능하니까요. 그걸 위해서 어떤 데이터가 필요한지 고민해보는 문제예요. 
고급 문제 수준으로 고민이 필요한 부분이라. 천천히 한번 고민해봐요!!
 	
 	 -->
 
 
 
 
 
 </mapper>