@charset "UTF-8";

#wrap{
	width:1200px;
	height:900px;
}

header{
	height:100px;
}


.main {
	height:800px;
	width:1200px;
}
.main-menu {
	height: 700px;
	width:200px;
}

.logo {
	width:200px;
	height:100px;
}

footer{
 height: 100px;
}
