<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Thymeleaf 연동 연습 문제 - 요청과 응답</title>
</head>
<!-- 

1. Thymeleaf html 연동
아래와 같이 html 를 활용해서 화면을 만들고, Thymeleaf를 통해 출력하세요.
요청 URL : http://localhost/lifecycle/test03/1
출력 예시



 -->
<body>
	<h1>리스트 기억 나시죠?</h1>
	<h3>나의 최애 메뉴!</h3>
	<div>
		<ul>
			<li>제육덮밥</li>
			<li>돈까스</li>
			<li>살치살</li>
		</ul>
	</div>
	<h3>세상에 맛있는 음식이 왜이리 많아...</h3>
	<div>
		<ul>
			<li>국밥</li>
			<li>야채카레</li>
			<li>아구찜</li>
			<li>육개장</li>
			<li>라멘</li>
			<li>초밥</li>
			<li>우동</li>
			<li>아 근데 다 맛있겠다... 저메추</li>
		</ul>
	</div>
	

</body>
</html>